.map {
    width: 600px;
    height:400px;
}
.detail {
    display: flex;
    flex-direction: row;
    margin-top: 100px;
    justify-content: space-around;
}
@media all and (max-width: 500px) {
    .detail{
        display: flex;
        flex-direction: column;
        margin-top: 100px;
        justify-content: space-around;
    }
    .map {
        margin-left: 30px;
        width: 300px;
        height:300px;
    }
}
.allTemp{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 20px;
}
.allTemp span {
    font-size: 20px;
    font-weight: bold;
}
.notFound {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
}