.map {
    width: 600px;
    height:400px;
}
.tomorrow {
    display: flex;
    margin-top: 100px;
    justify-content: space-around;
}
.allTemp{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 20px;
}
.allTemp span {
    font-size: 20px;
    font-weight: bold;
}